<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
<FilesMatch "\.(ico|pdf|flv|jpg|JPG|jpeg|JPEG|png|gif|js|css|swf)$">
Header set Cache-Control "max-age=3600, public"
</FilesMatch>